nav.menu {
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 4em;
  padding: .5em;
  display: flex;
  justify-content: space-around;

  a {
    color: #d3d5e3;
  }
}

div.training-stat {
  font-size: 2em;
}

div.pad {
  margin-top: 1em;
  margin-bottom: 3em;
}

div.training-day-list {

  height: calc(100% - 13em);
  overflow-y: scroll;

  table {
    font-family: verdana, sans-serif;
    font-size: 1.5em;
    text-align: center;
  }
}

div.show-errors {

  width: 100%;

  div {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    background-color: red;
    color: white;
    font-family: verdana, sans-serif;
    display: flex;
    justify-content: space-between;

    svg {
      font-size: 2em;
      position: relative;
      top: 9px;
      right: 9px;
    }
  }
}

form.add-training-form {
  margin-top: 2em;
}

.support-icon {
  font-size: 2em;
}

.table-filter {
  font-family: verdana, sans-serif;
  font-size: 1.5em;
  margin: 15px;
}
